<div class="login-slider">
  <div class="login">
    <div class="logo">
      <span class="logofirst">dip</span>
      <span>ch</span>
    </div>

    <div class="login-contents">
      <div class="createAcccount">
        <span> Create account</span>
      </div>

      <div class="inputs">
         <div>
            <input placeholder="Enter Email" />
         </div>

         <div class="sec" >
          <input type="password" placeholder="Password" />
       </div>
      </div>

      <div class="sign-btn">
        <button>Signup </button>
      </div>

      <div class="text-last">
        <span>Already have an account?</span> &nbsp; &nbsp; &nbsp; 
         <span style="font-weight:600;" > Login Here </span> 
      </div>
    </div>

  </div>


  <div class="slider">
    <app-crousel [images]="images"></app-crousel>
  </div>

</div>