<!-- <p>crousel works!</p> -->
<div *ngIf="images && images.length > 0" class="carousel-container">
    <img *ngFor="let image of images; let i = index" 
     [src] = "image.imageSrc" [alt] = "image.imageAlt"
     [ngClass] = "{'image-active': selectedIndex === i}">
    
     <div class="para" >
          <h1>New opportunities cooperation</h1> <br/>
          <span>Hii, this is Durgesh chaudhary and this ui created <br/> using Angular and typescript </span>
     </div>

     <div *ngIf="indicators" class="carousel-dot-container" >
         <span *ngFor="let dot of images; let i = index " class="dot"
           [ngClass]="{'active': selectedIndex === i}"
           (click) = "selectImage(i)"
         >
         </span>
     </div>
</div>